
/* Removing body standard margins */
body {
    margin: 0;
    }

/* Sets style for the header */
header {
    background-color: black;
    height: 50px;
    color: white;
    }

header h1 {
    margin-left: 50px;
    margin-top: 0;
    padding-top: 13px;
    }

h1 {
    font-family: open sans, sans-serif;
    font-size: 20px;
    }

/* Set style for the table elements */
table {
    margin-top: 15px;
    margin-left: 50px;
    }

th {
    margin-right: 10px;
    padding-right: 25px;
    text-align: left;
    border-bottom: solid 1px;
    }

td {
    margin-right: 15px;
    padding-right: 25px;
    }

/* Set a style for the footer */
footer {
    min-height: 50px;
    background-color: black;
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
    margin-top: 200px;
    color: white;
    font-weight: bolder;
    }

/* Set styles for the input fields */
input {
    padding-top: 10px;
    width: 22em;
    margin-top: 3px;
    }

.inputform {
    font-weight: bolder;
    max-width: 248px;
    min-width: 18%;
    margin-left: 50px;
    margin-top: 15px;
    }

input[type='submit'] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-bottom: 15px;
    }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type='submit']:hover {
    opacity: 0.8;
}

/* Set a style for all buttons */
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin-top: 15px;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: 100px;
    background-color: #f44336;
    margin-left: 15px;
}

/* Center the image and position the close button */
.closecontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.login {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}