<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="application/javascript" src="/static/scripts.js"></script>
    <title>Proovitöö</title>
</head>


<header>
    <nav>
        <div id="heading">
        <h1>Kontaktid</h1>
        </div>
    </nav>
</header>

<body>
<table id="contacts_table">
    <thead>
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Kood-nimi
            </th>
            <th>
                Telefon
            </th>
        </tr>
    </thead>
<tbody>
</tbody>
</table>
    <div class="inputform">
        <form id="contact_form" method="post" action="{{ url_for('add_contact') }}">
            <th>Lisa kontakt</th>
            <input name="name" placeholder="Nimi" required/>
            <input name="codeName" placeholder="Kood-nimi" required/>
            <input name="phone" placeholder="Number" required/>
            <input name="submit-button" type="submit" value="Salvesta" />
        </form>
    </div>
</body>

<footer>
    <h1>Proovitöö</h1>
</footer>

</body>
</html>