<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <title>Login</title>
</head>
<body>

<header>
    <h1>Sisenemise vorm</h1>
</header>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sisene</button>

<div id="id01" class="modal">

  <form method="post" class="modal-content animate" action="{{ url_for('login_validation') }}">
    <div class="closecontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="login">
      <label for="username"><b>Kasutajanimi</b></label>
      <input type="text" placeholder="Sisesta kasutajanimi" name="username" required>

      <label for="pswrd"><b>Parool</b></label>
      <input type="password" placeholder="Sisesta parool" name="pswrd" required>

      <input type="submit" value="Sisene">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Välju</button>
    </div>
  </form>
</div>

</body>

<footer>
    <h1>Proovitöö</h1>
</footer>
</html>